@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>GITHUB:</strong>   <a href="https://github.com/daniel-britos/LabNet2022/tree/tp7-MVC?fbclid=IwAR1ETv5KBiQP9Nero2AflKya4reQT4XWvu6BcVPnMARFjxRZkZQhagSBWa8" style="background-color: aqua;">TP7-MVC</a><br />
    <strong>LINKEDIN:</strong> <a href="https://www.linkedin.com/in/danielbritos/" style="background-color: aqua;">Daniel Britos</a><br />
    <strong>E-MAIL:</strong> <a href="https://gmail.com" style="background-color: aqua;">danielbritospersonal@gmail.com</a><br />
</address>