
@{
    ViewBag.Title = "Gifs";
}


<h1 class="h1Gifs"> Search Gifs </h1>
<div class="search">
    <div class="search__container">
        <input type="text" name="nickname" id="nickname">
        <button id="btnSearch" onclick="sending()">Search</button>
    </div>
</div>
<div id="container">
</div>




