
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3> ERROR SYSTEM </h3>
<h3> ERROR SYSTEM </h3>
<h3> ERROR SYSTEM </h3>
<h3> ERROR SYSTEM </h3>
<h3> ERROR SYSTEM </h3>

